{# src/Blogger/BlogBundle/Resources/views/Page/contact.html.twig #}
{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}Contact{% endblock%}

{% block body %}
    <header>
        <h1>Contact symblog</h1>
    </header>

    {% for flashMessage in app.session.flashbag.get('blogger-notice') %}
        <div class="blogger-notice">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% form_theme form 'bootstrap_3_layout.html.twig' %}
    {# {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %} #}

    <p>{{ 'Want to contact'|trans }} digieet?</p>

    <form action="{{ path('BloggerBlogBundle_contact') }}" method="post" {{ form_enctype(form) }} class="input-group">
        {{ form_errors(form) }}

        {{ form_row(form.name) }}
        {{ form_row(form.email) }}
        {{ form_row(form.subject) }}
        {{ form_row(form.body) }}

        {{ form_rest(form) }}

        <button type="submit" class="btn btn-default">{{ 'Submit'|trans }}</button>
    </form>
{% endblock %}