{# src/Blogger/BlogBundle/Resources/views/Page/sidebar.html.twig #}

{#have to put in if statement for when activated #}
{% if is_granted('ROLE_ADMIN') or Show_PayPal == 'YES' %}
<section class="section">
    <header>
        <h3>PayPal {{ 'Amount'|trans }}</h3>
    </header>
    <p><table width="100%" class="paypal">
    {% for key,value in lists %}
            <tr>
                <td align="LEFT">{{ key }}</td><td align="RIGHT">{{ value }}</td>
                </tr>
        {% else %}
            <p>No PayPal</p>
        {% endfor %}
    </table></p>
</section>
{% endif %}

<section class="section">
    <header>
        <h3>Tag {{ 'Cloud'|trans }}</h3>
    </header>
    <p class="tags">
        {% for tag, weight in tags %}
        <span class="weight-{{ weight }}">{{ tag }}</span>
        {% else %}

    <p>{{ 'There are no tags'|trans }}</p>
    {% endfor %}
    </p>
</section>

<section class="section">
    <header>
        <h3>{{ 'Latest'|trans }} {{ 'Comments'|trans }}</h3>
    </header>
    {% for comment in latestComments %}
        <article class="comment">
            <header>
                <p class="small"><span class="highlight">{{ comment.user }}</span> {{ 'commented'|trans }} {{ 'on'|trans }}
                    <a href="{{ path('BloggerBlogBundle_blog_show', { 'id': comment.blog.id, 'slug': comment.blog.slug }) }}#comment-{{ comment.id }}">
                        {{ comment.blog.title }}
                    </a>
                    [<em>
                        <time datetime="{{ comment.created|date('c') }}">{{ comment.created|created_ago }}</time>
                    </em>]
                </p>
            </header>
            <p>{{ comment.comment }}</p>
            </p>
        </article>
    {% else %}
        <p>{{ 'There are no recent comments'|trans }}</p>
    {% endfor %}
</section>